=css3-prefix($prop, $value)
  -webkit-#{$prop}: #{$value}
  -moz-#{$prop}: #{$value}
  -ms-#{$prop}: #{$value}
  -o-#{$prop}: #{$value}
  #{$prop}: #{$value}

=breakpoint($point)
  @if $point == large
    @media only screen and (min-width: 1366px)
      @content
  @else if $point == desktop
    @media only screen and (min-width: 1024px)
      @content
  @else if $point == tablet
    @media only screen and (min-width: 600px)
      @content
  @else if $point == lg
    @media only screen and (min-width: 992px)
      @content
  @else if $point == md
    @media only screen and (min-width: 768px)
      @content
  @else if $point == sm
    @media only screen and (min-width: 567px)
      @content
  @else
    @media only screen and (min-width: $point)
      @content

=untilpoint($point)
  @if $point == large
    @media only screen and (max-width: 1365px)
      @content
  @else if $point == desktop
    @media only screen and (max-width: 1023px)
      @content
  @else if $point == tablet
    @media only screen and (max-width: 599px)
      @content
  @else
    @media only screen and (max-width: $point)
      @content

a
  text-decoration: none
  &:hover, &:focus, &:active
    text-decoration: none

dl, ul, ol
  list-style-type: none
  padding: 0
  margin: 0

figure
  margin: 0

.link-white
  color: #ffffff
  &:hover, &.hover, &:active, &.active, &:visited, &.visited, &:focus, &.focus
    color: #ffffff
  &:hover, &.hover
    opacity: 0.8

button
  cursor: pointer
.button
  font-size: 100%
  font-family: inherit
  border: 0
  padding: 0
  background: none
.button-default
  background-color: #09A8BE
.button-rc
  +css3-prefix(border-radius, 5px)


.img-cover
  object-fit: cover


.desktop-only
  @include untilpoint(desktop)
    display: none!important
.mobile-only
  @include breakpoint(desktop)
    display: none!important


.mr-10px
  margin-right: 10px
.mb-10px
  margin-bottom: 10px
.mr-20px
  margin-right: 20px
.mb-20px
  margin-bottom: 20px
.mr-30px
  margin-right: 30px
.mb-30px
  margin-bottom: 30px


.bg-video
  position: relative
  overflow: hidden

  .__video
    position: absolute
    z-index: -1
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: cover
