.header-kabob
  .header_switch:not(.header_case-kabob)
    display: none

  .header_button-default
    background-color: rgba(255, 255, 255, 0.2)

.header-lookr
  .header_switch:not(.header_case-lookr)
    display: none

  .header_button-default
    background-color: $color-lookr

.header-voicer
  .header_switch:not(.header_case-voicer)
    display: none

  .header_button-default
    background-color: $color-voicer

.header-teachor
  .header_switch:not(.header_case-teachor)
    display: none

  .header_button-default
    background-color: $color-teachor
