.icon
  display: inline-block
  background-size: 100%
  background-repeat: no-repeat
  background-position: center
  vertical-align: middle

.icon-hamburger
  width: 25px
  height: 20px
  background-image: url(../images/hamburger@2x.png)

.icon-download-circle-blue
  width: 20px
  height: 21px
  background-image: url(../images/icon-download-circle-blue@2x.png)
