.icon
  display: inline-block
  background-size: 100%
  background-repeat: no-repeat
  background-position: center
  vertical-align: middle

.icon-circle
  +css3-prefix( border-radius, 50% )
  overflow: hidden

.icon-hamburger
  width: 25px
  height: 20px
  background-image: url(../images/hamburger@2x.png)

.icon-download-circle-blue
  width: 20px
  height: 21px
  background-image: url(../images/icon-download-circle-blue@2x.png)

.icon-download-circle-teachor
  width: 20px
  height: 21px
  background-image: url(../images/icon-download-circle-teachor@2x.png)

.icon-download-circle-voicer
  width: 20px
  height: 21px
  background-image: url(../images/icon-download-circle-voicer@2x.png)

.icon-phone
  width: 18px
  height: 18px
  background-image: url(../images/icon-phone@2x.png)

.icon-mail
  width: 17px
  height: 12px
  background-image: url(../images/icon-mail@2x.png)
