a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

dl, ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

figure {
  margin: 0; }

.link-white {
  color: #ffffff; }
  .link-white:hover, .link-white.hover, .link-white:active, .link-white.active, .link-white:visited, .link-white.visited, .link-white:focus, .link-white.focus {
    color: #ffffff; }
  .link-white:hover, .link-white.hover {
    opacity: 0.8; }

.hover-fade:hover, .hover-fade:active, .hover-fade:focus, .hover-fade:visited:hover, .hover-fade:visited:active, .hover-fade:visited:focus {
  opacity: 0.7; }

.hover-fade-in, .hover-fade-in:visited {
  opacity: 0.7; }
  .hover-fade-in:hover, .hover-fade-in:active, .hover-fade-in:focus, .hover-fade-in:visited:hover, .hover-fade-in:visited:active, .hover-fade-in:visited:focus {
    opacity: 1; }

.hover-lighter:hover, .hover-lighter:active, .hover-lighter:focus {
  background-image: url("../images/bg_mask-lighter.png");
  background-repeat: repeat;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }

button {
  cursor: pointer; }

.button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: none; }

.button-default {
  background-color: #09A8BE; }

.button-rc {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.img-cover {
  object-fit: cover; }

.overflow-hidden {
  overflow: hidden; }

@media only screen and (max-width: 1023px) {
  .desktop-only {
    display: none !important; } }

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none !important; } }

.mr-10px {
  margin-right: 10px; }

.mb-10px {
  margin-bottom: 10px; }

.mr-20px {
  margin-right: 20px; }

.mb-20px {
  margin-bottom: 20px; }

.mr-30px {
  margin-right: 30px; }

.mb-30px {
  margin-bottom: 30px; }

.mr-40px {
  margin-right: 40px; }

.mb-40px {
  margin-bottom: 40px; }

.bg-video {
  position: relative;
  overflow: hidden; }
  .bg-video .__video {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn {
  height: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: 500;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.btn-link:hover {
  text-decoration: none; }

.icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle; }

.icon-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.icon-hamburger {
  width: 25px;
  height: 20px;
  background-image: url(../images/hamburger@2x.png); }

.icon-download-circle-blue {
  width: 20px;
  height: 21px;
  background-image: url(../images/icon-download-circle-blue@2x.png); }

.icon-download-circle-teachor {
  width: 20px;
  height: 21px;
  background-image: url(../images/icon-download-circle-teachor@2x.png); }

.icon-download-circle-voicer {
  width: 20px;
  height: 21px;
  background-image: url(../images/icon-download-circle-voicer@2x.png); }

html {
  background-color: #F8F8F8; }

body {
  background: transparent; }

html, body {
  font-size: 14px;
  font-family: "Source Sans Pro", "PingFang TC", "Noto Sans CJK TC";
  color: #3c474a; }

.logo_font {
  font-size: 24px;
  font-family: "Arial Rounded MT Bold"; }

.btn-size {
  width: 100%;
  max-width: 230px; }

.headbar {
  height: 64px;
  padding: 0 20px; }

.pt_for_header {
  padding-top: 64px; }

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 64px; }
  .header .logo_img {
    height: 19px; }
  .header .products_img {
    height: 12px;
    opacity: 0.2; }
  @media only screen and (min-width: 1024px) {
    .header {
      position: absolute; } }

.header-effects-on .headbar {
  background-color: #292929; }
.header-effects-on .header_button-lookr,
.header-effects-on .header_button-voicer,
.header-effects-on .header_button-teachor {
  background-color: rgba(255, 255, 255, 0.2); }

.header_button-md {
  height: 34px;
  padding: 7px 15px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: inherit; }

.header_button-general {
  background-color: rgba(255, 255, 255, 0.2); }

.header_button-lookr {
  background-color: #09a8be; }

.header_button-teachor {
  background-color: #294af6; }

.header_menu_style {
  min-height: 100%;
  padding-top: 64px; }
  @media only screen and (min-width: 1024px) {
    .header_menu_style {
      height: 64px;
      padding-top: 0;
      text-align: right; } }

.nav_item {
  display: inline-block;
  margin-top: 12px;
  width: 100%;
  padding-bottom: 12px;
  vertical-align: middle;
  font-size: 18px;
  opacity: 0.6; }
  @media only screen and (min-width: 1024px) {
    .nav_item {
      margin-right: 30px;
      padding-right: 10px;
      width: auto;
      opacity: 1;
      font-size: 14px; } }

.header_menu_toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  padding-right: 20px; }
  @media only screen and (min-width: 1024px) {
    .header_menu_toggler {
      visibility: hidden; } }
  .header_menu_toggler > .icon {
    position: relative;
    z-index: 20; }
  .header_menu_toggler::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 100vh;
    background-color: transparent; }

.header_menu_transition {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%); }
  @media only screen and (min-width: 1024px) {
    .header_menu_transition {
      position: absolute;
      transform: translateX(0); } }

@media only screen and (max-width: 1023px) {
  body.nav_in {
    height: 100vh;
    overflow: hidden;
    transform: translateX(-61.8vw); }
    body.nav_in .header_menu_toggler::before {
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.5); }

  body.nav_transition {
    transition: transform 0.6s ease, background-color 0.6s ease; }
    body.nav_transition .header_menu_toggler::before {
      transition: background-color 0.4s, width 0s;
      transition-delay: 0s, 0.6s; }
    body.nav_transition.nav_in .header_menu_toggler::before {
      transition: background-color 0.4s, width 0s;
      transition-delay: 0s, 0s; } }
.mobilemenu-active .header {
  position: fixed;
  height: auto;
  top: 0;
  bottom: 0; }
.mobilemenu-active .headbar {
  position: relative;
  z-index: 30;
  background-color: #292929; }

.mobilemenu-trigger > .trigger {
  outline: none; }
  .mobilemenu-trigger > .trigger.active > .box > .bar {
    background-color: #ffffff; }
@media only screen and (min-width: 1024px) {
  .mobilemenu-trigger {
    display: none; } }

@media only screen and (max-width: 1023px) {
  #mobilemenu.mobilemenu_override {
    height: auto;
    bottom: 0;
    background-color: #292929; }
    #mobilemenu.mobilemenu_override .mobilemenu-wrapper {
      padding-left: 30px;
      padding-right: 30px; }
    #mobilemenu.mobilemenu_override .mobilemenu-view {
      overflow-y: auto; }
    #mobilemenu.mobilemenu_override ._bottom_div_padding {
      padding-bottom: 88px;
      margin-bottom: -88px; }
    #mobilemenu.mobilemenu_override .mobilemenu-bottom {
      position: relative;
      z-index: 2;
      height: 88px;
      background-color: #292929; } }
@media only screen and (min-width: 1024px) {
  #mobilemenu.mobilemenu_override {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
    background: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; } }

.footer {
  padding: 40px 35px 30px; }
  @media only screen and (min-width: 768px) {
    .footer {
      padding: 30px 40px 20px; } }

.footer-lookr {
  background-color: #09a8be; }

.copyright_fonts {
  font-size: 12px;
  letter-spacing: 0.026em; }

.h3_mb {
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .h3_mb {
      margin-bottom: 45px; } }

.h3_fonts {
  font-size: 32px;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    .h3_fonts {
      font-size: 54px;
      font-weight: 300; } }

.h4_fonts {
  font-size: 22px;
  font-weight: 500; }
  @media only screen and (min-width: 768px) {
    .h4_fonts {
      font-size: 32px; } }

.fix-aos-overflow {
  overflow: hidden; }

.section-md {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .section-md {
      padding-top: 50px;
      padding-bottom: 50px; } }

.section-lg {
  padding-top: 40px;
  padding-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .section-lg {
      padding-top: 64px;
      padding-bottom: 92px; } }

.section-kv {
  min-height: 100vh;
  padding-top: 104px;
  padding-bottom: 60px; }

.section_px {
  padding-left: 30px;
  padding-right: 30px; }

.section_header_mb {
  margin-bottom: 40px; }
  @media only screen and (min-width: 992px) {
    .section_header_mb {
      margin-bottom: 90px; } }

.feature_img_shadow {
  box-shadow: 10px 5px 40px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden; }

.feature_img_shadowz {
  position: relative; }
  .feature_img_shadowz::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 10px 5px 40px rgba(0, 0, 0, 0.25); }

/**
 * Key Vision
 */
.kv_fonts {
  color: #ffffff;
  font-size: 16px;
  text-shadow: -5px 2px 40px rgba(0, 0, 0, 0.5); }
  @media only screen and (min-width: 768px) {
    .kv_fonts {
      font-size: 22px;
      font-weight: 500; } }

.kv_fonts-title {
  font-size: 42px;
  font-weight: 300;
  color: #ffffff; }
  @media only screen and (min-width: 768px) {
    .kv_fonts-title {
      font-size: 72px; } }

.kv_images {
  overflow: hidden; }

.pricing_plan_vpadding_fix {
  margin-top: -10px;
  margin-bottom: -10px; }

.pricing_plan_wrapper {
  margin: 10px 15px; }

.desc_fonts {
  font-size: 12px;
  font-weight: 600; }
  @media only screen and (min-width: 768px) {
    .desc_fonts {
      font-size: 18px;
      font-weight: 500; } }

/**
 *
 * Componenets
 *
 */
.pricing_plan {
  height: 100%;
  width: 260px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  color: #3f3f3f;
  background-color: #ffffff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2); }
  .pricing_plan .main_info {
    padding: 15px 20px 20px;
    background-color: #3f3f3f;
    color: #ffffff; }
    .pricing_plan .main_info.lookr {
      background-color: #09a8be; }
    .pricing_plan .main_info.voicer {
      background-color: #f9ae0f; }
    .pricing_plan .main_info.teachor {
      background-color: #0f2596; }
  .pricing_plan .title {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 300; }
  .pricing_plan .price {
    min-height: 108px;
    padding-top: 27px;
    text-align: center; }
  .pricing_plan .choose_button {
    display: inline-block;
    width: 100%;
    border: 2px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
    line-height: 17px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #ffffff; }
    .pricing_plan .choose_button:hover, .pricing_plan .choose_button:active, .pricing_plan .choose_button:focus, .pricing_plan .choose_button:visited {
      color: #ffffff; }
    .pricing_plan .choose_button:hover {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1); }
  .pricing_plan .feature {
    margin: 10px 30px; }
    .pricing_plan .feature:first-child {
      margin-top: 20px; }
    .pricing_plan .feature:last-child {
      margin-bottom: 20px; }
  .pricing_plan .text-price {
    font-size: 36px;
    font-weight: 600; }
  .pricing_plan .text-unit {
    font-size: 12px;
    font-weight: 600; }

.i18n_selector {
  min-width: 124px;
  color: #ffffff;
  font-size: 14px; }
  .i18n_selector::before, .i18n_selector::after {
    content: "";
    background: transparent no-repeat center;
    background-size: 100%; }
  .i18n_selector::before {
    margin-right: 10px;
    padding-left: 18px;
    background-image: url("../images/icon-language@2x.png"); }
  .i18n_selector::after {
    padding-left: 0.8em;
    margin-left: -1.2em;
    background-image: url("../images/icon-dropdown@2x.png"); }
  .i18n_selector .select {
    -webkit-appearance: none;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    padding-right: 2em;
    cursor: pointer; }

.i18n_selector.-dark {
  color: #3b3e49; }
  .i18n_selector.-dark::before {
    background-image: url("../images/icon-language-dark@2x.png"); }
  .i18n_selector.-dark::after {
    background-image: url("../images/icon-dropdown-dark@2x.png"); }

.card-general {
  display: inline-block;
  border-radius: 16px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-width: 0px; }

.hover-card-general {
  transition: box-shadow 0.6s ease-out; }
  .hover-card-general:hover {
    box-shadow: 0px 2px 90px rgba(0, 0, 0, 0.2); }

.kabob_app {
  width: 260px;
  padding: 20px 10px 10px; }
  @media only screen and (min-width: 768px) {
    .kabob_app {
      width: 250px;
      padding-top: 32px; } }

.kabob_app_download {
  width: 100%;
  padding: 40px 0 5px; }

.kabob_app_fonts {
  color: #3B3E49;
  text-align: center;
  font-weight: 500; }

.product {
  color: #70bdd4;
  font-size: 14px;
  border: 2px solid #09A8BE;
  border-radius: 6px;
  padding: 8px;
  width: 130px;
  text-align: center;
  margin: 0 auto; }

.platform_icon {
  height: 100px;
  display: block;
  margin: auto; }
  @media only screen and (min-width: 768px) {
    .platform_icon {
      height: 120px; } }

.e_name {
  margin-bottom: 0;
  font-size: 32px; }

.c_name {
  font-size: 18px;
  margin-bottom: 15px; }
  @media only screen and (min-width: 768px) {
    .c_name {
      margin-bottom: 21px; } }

.intro {
  margin-bottom: 25px;
  padding: 0 10px;
  font-size: 13px; }
  @media only screen and (min-width: 567px) {
    .intro {
      height: 54px; } }
  @media only screen and (min-width: 768px) {
    .intro {
      margin-bottom: 20px; } }

.more {
  color: white;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 0 auto; }

.more1 {
  background-color: #09A8BE; }

.more2 {
  background-color: #F9AE0F; }

.more3 {
  background-color: #0F2596; }

.more4 {
  background-color: #FFDA00; }

/**
 *
 * Kabob
 *
 */
.kabob_bg-footer {
  background-color: #70bdd4; }

.kabob_bg-dark {
  background: linear-gradient(180deg, #21232a 0%, #3b3e49 100%); }

.kabob_section_width {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

.section_px-kabob {
  padding-left: 8.6%;
  padding-right: 8.6%; }

.section-kv-kabob {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(#21232A, #3B3E49);
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .section-kv-kabob {
      padding-top: 100px; } }
  .section-kv-kabob .content_width {
    margin: 0 auto;
    width: 105%;
    max-width: 1340px; }
@inlcude untilpoint(md) {
  .section-kv-kabob .kv_fonts-title {
    font-size: 30px;
    line-height: 42px; } }
  .section-kv-kabob .kv_desc {
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .section-kv-kabob .kv_desc {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 540px;
        height: 100%;
        padding-left: 8%;
        text-align: left;
        vertical-align: top; } }
  .section-kv-kabob .kv_images {
    display: inline-block;
    margin-left: 17.1875%;
    width: 87.5%;
    text-align: right; }
    @media only screen and (min-width: 992px) {
      .section-kv-kabob .kv_images {
        margin-left: -540px;
        margin-right: -4px;
        width: 100%;
        max-width: 1280px;
        padding-left: 540px; } }
  .section-kv-kabob .kv_image {
    margin-right: -5%;
    width: 100%; }
    @media only screen and (min-width: 1281px) {
      .section-kv-kabob .kv_image {
        margin-right: 0%; } }

.h3_decorate-kabob {
  padding-top: 10px; }
  .h3_decorate-kabob .h3_fonts {
    position: relative; }
    .h3_decorate-kabob .h3_fonts::before {
      content: "";
      position: absolute;
      top: -10px;
      width: 30px;
      border-top: 2px solid #70bdd4; }
  .h3_decorate-kabob._white .h3_fonts::before {
    border-color: #ffffff; }
  @media only screen and (min-width: 768px) {
    .h3_decorate-kabob {
      padding-top: 0;
      padding-left: 70px; }
      .h3_decorate-kabob .h3_fonts::before {
        top: 0.6em;
        left: -70px;
        width: 40px; } }

.text-right .h3_decorate-kabob .h3_fonts::before {
  right: 0; }

.kabob_features_image {
  position: relative;
  width: 335px;
  left: -96px; }
  @media only screen and (min-width: 768px) {
    .kabob_features_image {
      width: 599px;
      left: -204px; } }

.kabob_features_item {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .kabob_features_item {
      margin-bottom: 40px; } }
  .kabob_features_item._bottom_lined::after {
    content: "";
    display: block;
    width: 92%;
    margin: 20px 4% 0;
    border-top: 2px solid #ebecf1; }
    @media only screen and (min-width: 768px) {
      .kabob_features_item._bottom_lined::after {
        border: none;
        margin: 0; } }

.kabob_feature_icon {
  margin-right: 20px;
  width: 60px;
  min-width: 60px; }
  @media only screen and (min-width: 768px) {
    .kabob_feature_icon {
      margin-right: 35px;
      width: 70px;
      min-width: 70px; } }

.kabob_feature_title ._fonts {
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    .kabob_feature_title ._fonts {
      font-size: 12px; } }

.kabob_feature_desc ._fonts {
  font-size: 18px; }
  @media only screen and (min-width: 768px) {
    .kabob_feature_desc ._fonts {
      font-size: 13px; } }

.kabob_video_section {
  height: 300px; }
  @media only screen and (min-width: 768px) {
    .kabob_video_section {
      height: 480px; } }

.kabob_static_number {
  display: flex;
  display: -webkit-flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  -o-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  border: 4px solid #a3e1f3;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff; }
  .kabob_static_number .__number {
    width: 100%;
    font-size: 48px;
    font-weight: 300; }

.kabob_app_downloads {
  padding: 0 7%; }

.kabob_app_icon {
  margin-bottom: 20px; }

.kabob_app_title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  color: #4a616f; }

.kabob_app_desc {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #a4b0b7; }

.kabob_app_button {
  display: inline-block;
  height: 20px;
  padding: 0px 5px 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  color: #09a8be;
  background-color: transparent;
  border: 1px solid #09a8be; }

.kabob_map_figure {
  position: relative;
  min-width: 408px;
  max-width: 600px; }
  @media only screen and (max-width: 635px) {
    .kabob_map_figure {
      left: 100%;
      transform: translate(-106%); } }
  .kabob_map_figure .kabob_map_spot {
    position: absolute;
    height: 10.5%;
    min-height: 24px; }
    .kabob_map_figure .kabob_map_spot.china {
      left: 72%;
      top: 26%; }
    .kabob_map_figure .kabob_map_spot.japan {
      left: 89%;
      top: 36%; }
    .kabob_map_figure .kabob_map_spot.taiwan {
      left: 85.5%;
      top: 50%; }
    .kabob_map_figure .kabob_map_spot.singapore {
      left: 61%;
      top: 60.7%; }

.kabob_usecases_slicker {
  margin-left: 210px;
  width: 1260px; }
  @media only screen and (min-width: 768px) {
    .kabob_usecases_slicker {
      margin-left: 0;
      width: 1620px; } }

.kabob_usecase {
  margin: 0 5px;
  border-radius: 8px;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .kabob_usecase {
      margin: 0 10px; } }
  .kabob_usecase > img {
    width: 200px;
    height: 160px; }
    @media only screen and (min-width: 768px) {
      .kabob_usecase > img {
        width: 250px;
        height: 200px; } }

/**
 *
 * Lookr
 *
 */
.logo_img.logo_img-lookr {
  height: 25px;
  margin-top: -3px; }

.section-kv-lookr {
  min-height: 100vh;
  padding-top: 15px;
  background: no-repeat -280px -41px;
  background-image: url("../images/lookr_bg.jpg"), url("../images/lookr_bg@0.5x.jpg");
  background-size: auto 124.6%; }
  @media only screen and (min-width: 1210px) {
    .section-kv-lookr {
      padding-top: 194px;
      padding-bottom: 150px;
      background-image: url("../images/lookr_bg@2x.jpg"), url("../images/lookr_bg.jpg"), url("../images/lookr_bg@0.5x.jpg");
      background-size: 2000px auto;
      background-position: center -51px; } }
  @media only screen and (min-width: 2000px) {
    .section-kv-lookr {
      background-size: 100% auto; } }
  .section-kv-lookr .kv_desc {
    width: 100%;
    max-width: 578px;
    padding-top: 110px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .section-kv-lookr .kv_desc {
        padding-left: 60px;
        padding-right: 60px; } }
    @media only screen and (min-width: 1210px) {
      .section-kv-lookr .kv_desc {
        text-align: left; } }
  .section-kv-lookr .kv_images {
    text-align: center;
    width: 100%;
    max-width: 734px;
    padding-left: 26px; }
    @media only screen and (min-width: 768px) {
      .section-kv-lookr .kv_images {
        padding-left: 0; } }
    .section-kv-lookr .kv_images .kv_image {
      width: 100%;
      min-width: 358px; }

.lookr_intro_images_w {
  max-width: 920px; }

.lookr_intro_images_mt {
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    .lookr_intro_images_mt {
      margin-top: 100px; } }

.lookr_intro_images {
  display: flex;
  width: 90%;
  text-align: center; }
  .lookr_intro_images .figcaption {
    margin-bottom: 30px; }
  .lookr_intro_images .figtitle {
    margin-bottom: 5px; }
  .lookr_intro_images .figure-left {
    width: 35%; }
  .lookr_intro_images .figure-right {
    width: 57%; }
  .lookr_intro_images .figure-center {
    margin-top: 10%;
    width: 9%;
    margin-left: 5%;
    margin-right: -6%; }
  @media only screen and (min-width: 768px) {
    .lookr_intro_images .figcaption {
      margin-bottom: 36px; }
    .lookr_intro_images .figtitle {
      margin-bottom: 10px; }
    .lookr_intro_images .figure-left {
      width: 30%; }
    .lookr_intro_images .figure-right {
      width: 52%; }
      .lookr_intro_images .figure-right .figcaption {
        margin-left: 30%; }
    .lookr_intro_images .figure-center {
      width: 6%;
      margin-left: 12%;
      margin-right: 0%; } }

.section-trylookr {
  color: #ffffff;
  background-size: 1422px auto; }
  @media only screen and (min-width: 952px) {
    .section-trylookr {
      background-size: 138% auto;
      background-position: -470px -751px;
      background-position: right bottom; } }

.lookr_feature_desc::before {
  content: "";
  display: block;
  margin-bottom: 10px;
  width: 50px;
  height: 2px;
  background-color: #09a8be; }
@media only screen and (min-width: 992px) {
  .lookr_feature_desc {
    position: relative;
    width: 480px;
    margin-left: 30px; }
    .lookr_feature_desc::before {
      position: absolute;
      bottom: 100%;
      margin-bottom: 20px; } }

.lookr_feature_mb {
  margin-bottom: 80px; }
  @media only screen and (min-width: 992px) {
    .lookr_feature_mb {
      margin-bottom: 132px; } }

.lookr_feature_mb-last {
  margin-bottom: 90px; }
  @media only screen and (min-width: 992px) {
    .lookr_feature_mb-last {
      margin-bottom: 34px; } }

.lookr_feature_figure {
  max-width: 960px; }

.lookr_bg-milk {
  background-color: #f2f0ed; }

.lookr_bg-dark {
  background-color: #3b3e49; }

.lookr_screens_figure {
  max-width: 303px; }

.lookr_user_figure {
  width: 115px;
  text-align: center; }
  .lookr_user_figure > img {
    width: auto;
    height: 115px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 992px) {
    .lookr_user_figure {
      width: 226px; }
      .lookr_user_figure > img {
        height: 226px; } }

.lookr_user_figcaption {
  font-size: 16px; }
  .lookr_user_figcaption::before {
    content: "";
    display: block;
    margin: 15px auto 10px;
    width: 40px;
    height: 2px;
    background-color: #09a8be; }
  @media only screen and (min-width: 992px) {
    .lookr_user_figcaption {
      font-size: 18px; }
      .lookr_user_figcaption::before {
        margin-top: 30px;
        margin-bottom: 20px; } }

.lookr_user_logo-round {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .lookr_user_logo-round > img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; }

.lookr_widgets {
  min-width: 570px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center; }

.lookr_widget_item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  opacity: 0.7; }
  .lookr_widget_item:hover {
    opacity: 1; }

.lookr_widget_tab {
  width: 90px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  .lookr_widget_tab .widget_tab_icon {
    display: block;
    width: 56px;
    height: 35px;
    margin: 0 auto;
    background-size: contain;
    background: no-repeat center; }
  .lookr_widget_tab .widget_tab_1 {
    background-image: url(../images/widget_ticketer_outline.svg); }
  .lookr_widget_tab .widget_tab_2 {
    background-image: url(../images/widget_menu_outline.svg); }
  .lookr_widget_tab .widget_tab_3 {
    background-image: url(../images/widget_ticketer_outline.svg); }
  .lookr_widget_tab .widget_tab_4 {
    background-image: url(../images/widget_workflow_outline.svg); }
  .lookr_widget_tab .widget_tab_5 {
    background-image: url(../images/widget_splice_outline.svg); }

.lookr_widget_item.highlight {
  opacity: 1; }
  .lookr_widget_item.highlight .lookr_widget_tab {
    background-color: #09a8be; }

.lookr_widgets_scrollable {
  overflow-x: scroll; }

#lookr_widget_screenshots {
  width: 90%;
  max-width: 960px; }
  #lookr_widget_screenshots[data-show=widget1_screenshot] > :not(#widget1_screenshot), #lookr_widget_screenshots[data-show=widget2_screenshot] > :not(#widget2_screenshot), #lookr_widget_screenshots[data-show=widget3_screenshot] > :not(#widget3_screenshot), #lookr_widget_screenshots[data-show=widget4_screenshot] > :not(#widget4_screenshot), #lookr_widget_screenshots[data-show=widget5_screenshot] > :not(#widget5_screenshot) {
    display: none; }

/**
 *
 * Teachor
 *
 */
.btn-teachor-dark {
  background-color: #0f2596;
  color: white; }
  .btn-teachor-dark:hover, .btn-teachor-dark:active, .btn-teachor-dark:visited {
    color: white; }

.section-kv-teachor {
  min-height: 100vh;
  padding-top: 70px;
  background: url("../images/teachor_bg.png") no-repeat left top;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .section-kv-teachor {
      background-image: url("../images/teachor_bg@2x.png"), url("../images/teachor_bg.png"); } }
  .section-kv-teachor .kv_size {
    width: 100%;
    max-width: 739px;
    overflow: hidden; }
    @media only screen and (min-width: 1280px) {
      .section-kv-teachor .kv_size {
        max-width: 1280px; } }
  .section-kv-teachor .kv_desc {
    width: 100%;
    max-width: 360px;
    margin-left: 6.25%;
    margin-right: 6.25%; }
  .section-kv-teachor .kv_image {
    min-width: 390px;
    max-width: 739px;
    margin-left: 15px; }

.teachor_bg-grey {
  background-color: #e0eaef; }

.teachor_bg-black {
  background-color: #292929; }

.teachor_bg-fade {
  background-color: #7280c8; }

.teachor_learning_step {
  width: 270px; }
  .teachor_learning_step .teachor_flow_image {
    width: 70px; }
  @media only screen and (min-width: 735px) {
    .teachor_learning_step {
      width: 130px;
      margin-left: 35px;
      margin-right: 35px;
      text-align: center; }
      .teachor_learning_step .teachor_flow_image {
        width: 130px; } }
  @media only screen and (min-width: 900px) {
    .teachor_learning_step {
      margin-left: 55px;
      margin-right: 55px; }
      .teachor_learning_step .teachor_flow_image {
        position: relative; }
      .teachor_learning_step .deco-after::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: 30px;
        width: 50px;
        border-top: 1px solid #3b3e49; }
      .teachor_learning_step .deco-before::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-right: 30px;
        width: 50px;
        border-top: 1px solid #3b3e49; } }

.teachor_sketch_1 {
  width: 56%;
  max-width: 260px; }

.teachor_feature_title {
  display: inline-block;
  border-bottom: 2px solid #0f2596;
  padding-bottom: 10px; }

.teachor_feature_mb {
  margin-bottom: 63px; }
  @media only screen and (min-width: 768px) {
    .teachor_feature_mb {
      margin-bottom: 120px; } }

.teachor_feature_mb-last {
  margin-bottom: 0px; }
  @media only screen and (min-width: 768px) {
    .teachor_feature_mb-last {
      margin-bottom: 70px; } }

.teachor_hexagonbox {
  margin: 10px;
  min-width: 240px;
  min-height: 275px;
  background: url(../images/teachor_bg_hexagon.svg) no-repeat center;
  background-size: contain;
  padding-top: 60px;
  text-align: center;
  font-size: 13px;
  color: #ffffff; }
  @media only screen and (min-width: 768px) {
    .teachor_hexagonbox {
      width: 290px;
      height: 330px;
      padding-top: 70px; } }

.hexagonbox_title {
  margin-bottom: 30px;
  font-size: 18px; }
  @media only screen and (min-width: 768px) {
    .hexagonbox_title {
      margin-bottom: 40px;
      font-size: 22px; } }

.teachor_feature_figure-3layers,
.teachor_feature_figure {
  max-width: 940px; }

.teachor_feature_figure-3layers {
  position: relative; }
  .teachor_feature_figure-3layers .teachor_feature_figureimg:first-child {
    width: 100%; }
  .teachor_feature_figure-3layers .teachor_feature_figureimg:nth-child(2) {
    margin-top: -31%;
    width: 77%; }
  .teachor_feature_figure-3layers .teachor_feature_figureimg:nth-child(3) {
    margin-top: -30%;
    width: 23%; }
  .teachor_feature_figure-3layers .teachor_feature_figureimg:not(:first-child) {
    position: relative;
    left: 50%; }
    .teachor_feature_figure-3layers .teachor_feature_figureimg:not(:first-child) > img {
      position: relative;
      left: -50%; }
  @media only screen and (min-width: 567px) {
    .teachor_feature_figure-3layers .teachor_feature_figureimg:first-child {
      width: 57%; }
    .teachor_feature_figure-3layers .teachor_feature_figureimg:nth-child(2) {
      width: 52%;
      margin-left: 36%; }
    .teachor_feature_figure-3layers .teachor_feature_figureimg:nth-child(3) {
      width: 16%;
      margin-left: 80%; }
    .teachor_feature_figure-3layers .teachor_feature_figureimg:not(:first-child) {
      position: absolute;
      left: 0;
      bottom: 0; }
      .teachor_feature_figure-3layers .teachor_feature_figureimg:not(:first-child) > img {
        position: initial; } }

/**
 *
 * Voicer
 *
 */
.btn-voicer {
  background-color: #f9ae0f; }

.section-kv-voicer {
  background: url("../images/voicer_bg_1.png") no-repeat top center;
  background-size: cover; }
  .section-kv-voicer .kv_image {
    max-width: 698px; }
  @media only screen and (min-width: 768px) {
    .section-kv-voicer .kv_desc {
      width: 42%; }
    .section-kv-voicer .kv_image {
      width: 58%; } }

.voicer_bg-light {
  background: #f5f3f0;
  color: #464646; }

.voicer_bg-dark {
  background: #292929;
  color: #ffffff; }

.voicer_bg-notes {
  padding-top: 100px;
  background: #292929 url("../images/voicer_bg_2@2x.png") no-repeat bottom 100px left;
  background-size: auto 60%; }
  @media only screen and (min-width: 992px) {
    .voicer_bg-notes {
      padding-top: 90px;
      padding-bottom: 72px;
      background-position: center;
      background-size: 100% auto; } }

.voicer_bg-beats {
  position: relative; }
  .voicer_bg-beats .dot {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f9ae0f;
    opacity: 0.02; }

.voicer_bg-footer {
  background-color: #fbc95e; }

.voicer_image-sketch1 {
  width: 88%;
  max-width: 547px; }

.voicer_image-sketch2 {
  width: 57.5%;
  max-width: 230px; }

.voicer_figure-schedule, .voicer_figure-controller {
  padding-left: 15px;
  padding-right: 15px; }
  .voicer_figure-schedule .voicer_image-app, .voicer_figure-controller .voicer_image-app {
    width: 100%;
    max-width: 636px; }
  .voicer_figure-schedule .voicer_image-mobile, .voicer_figure-controller .voicer_image-mobile {
    width: 38%;
    max-width: 220px; }

.voicer_figure-schedule {
  position: relative;
  max-width: 660px;
  max-width: 1200px; }
  .voicer_figure-schedule .voicer_image-app {
    position: relative; }
    @media only screen and (min-width: 768px) {
      .voicer_figure-schedule .voicer_image-app {
        z-index: 1;
        margin-left: 40%; } }
  .voicer_figure-schedule .voicer_image-settings {
    position: relative;
    max-width: 610px;
    margin-top: -25%;
    transform: translate(21%); }
    @media only screen and (min-width: 768px) {
      .voicer_figure-schedule .voicer_image-settings {
        position: absolute;
        top: 0;
        left: 4%;
        margin-top: 0;
        transform: translate(0, 25%); } }

.voicer_figure-controller {
  max-width: 660px; }
  .voicer_figure-controller .voicer_image-mobile {
    position: relative;
    margin-top: -56%;
    margin-left: 66%; }

.voicer_controller_section {
  max-width: 1200px; }

.beats_spacing {
  height: 145px; }
  @media only screen and (min-width: 768px) {
    .beats_spacing {
      height: 218px; } }

/*# sourceMappingURL=app.css.map */
